<!--users/templates/registration/login.html-->

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}
{% providers_media_js %}



<section class="s2 user_info ">
  <div>
    <div class="form-info">
      <p>
        {% blocktrans %}If you have not created an account yet, then please
        <a title="Sign in" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
      </p>
      <div class="form">
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                          name="{{ redirect_field_name }}"
                          value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        <hr>
        <p class="or text-center" style="font-weight: 700;">Or use a third-party</p>
          {# User is not logged in, display social login options #}
          <!--{% include "socialaccount/snippets/provider_list.html" with process="login" %}
          {#{% include "socialaccount/snippets/login_extra.html" %}#}-->
          <ul class="socialaccounts">
            <li>
                <a title="GitHub" href="/accounts/github/login/?process=login">
                    <i class="fa fa-brands fa-github"></i>
                    <h5> GitHub </h5>
                </a>
            </li>
            <li>
                <a title="Google" href="/accounts/google/login/?process=login">
                    <i class=" fa fa-brands fa-google"></i>
                    <h5> Google </h5>
                </a>
            </li>
            <!-- <li>
                <a title="Facebook" href="/accounts/facebook/login/?process=login">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li> 
            <li>
                <a title="LinkedIn" href="/accounts/linkedin_oauth2/login/?process=login">
                    <i class="fa-brands fa-linkedin"></i>

                </a>
            </li>  -->
          </ul>
      </div>
    </div>
  </div>

  <!-- for Styling the p tag that is holding the id_remember content-->
  <script>
    // Check if an element with ID "id_remember" exists
    var rememberInput = document.getElementById("id_remember");

    if (rememberInput) {
        // If the element exists, add the class "id_remember" to its parent p element
        var parentP = rememberInput.closest('p');
        
        if (parentP) {
            parentP.classList.add("id-remember");
        }
    }
  </script>
  <!-- ===========================END============================-->

</section>

