# requirements.txt
Django
djangorestframework
django-cors-headers

# image processing
Pillow

# for phone numbers processing
django-phonenumber-field
phonenumbers
Babel

django-allauth

# For .ENV File
django-environ

