
{% extends 'maindashboard/dashboard_base.html' %}
{% load static %}

{% block head %}
<title> {{ object.name }} Detail </title>
{{form.media}}
<link rel="stylesheet" href="{% static 'css/blogdashboard/author/write_new_article.css' %}"> 
<link rel="stylesheet" href="{% static 'css/home_page.css' %}" type="text/css">
<style>
    .heading{
        font-size: 20px;
        background-color: azure;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 10px;
        padding: 0 25px 0 5px;
    }
    .frontP-cards {
        top: 0;
        background-color: azure;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        margin: 0 15px;
        gap: 4px;
        padding-bottom: 20px;
    }
        .card__tag {
            color: black !important;
        }
</style>
{% endblock head %}
{% block content %}
<section>
    <h1>{{ object.name }}</h1>
    <dl class="row">
        {% for field, value in object.get_fields %}
        <dt class="col-sm-3">{{ field|capfirst }}</dt>
        <dd class="col-sm-9">{{ value }}</dd>
        {% endfor %}
    </dl>
    <a href="{% url object|lower|add:'_update' object.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url object|lower|add:'_delete' object.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url object|lower|add:'_list' %}" class="btn btn-secondary">Back to List</a>

</section>
{% endblock content %}