{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Profile Edit</title>
<link rel="stylesheet" href="{% static 'css/users/profile_home.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/users/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">

<style>
  select{
    border: 1px solid #c9e6ff;
  }
  .phone-no{
    display: flex;
    padding-top: 0 !important;
  }
  .phone-no select{
    width: 70px;
    margin-right: 5px;
  }
  select.P-no{
    width: fit-content;
  }
  #id_country{
    padding: 0.36em;
  }
</style>
{% endblock head %}

{% block content %}
<section class="s2 profile">
  <div class=" profile-main  container-xl">
    <!--==========SECTION FOR EDITING USER PROFILE============-->
    <section id="edit-profile" style="justify-items: center;">
       
      <div class="form-info container-xl">
        <div class="form" style="margin-bottom: 10px;">
          
            <form method="post" style="padding-top: 0;">
                <h3 class="text-center" style="margin-bottom: 0px;
                color: var(--text-color);
                font-size: 24px !important;
                font-weight: 700;">
                {{ title }}
                </h3> 
                {% csrf_token %}
                <div class=" user-form signup"></div>
                    {{ form.as_p }}
                </div>
                <p class="full" style="padding-top: 6px;">
                <button type="submit" value="register" style=" padding: 5px; width: 120px; margin-left: 40%; 
                border-radius: 25px;
                ">Update</button>
                </p>
            </form>
        </div>
      </div>
    </section>
  </div>
</section>
{% endblock content %}